<a href="https://colab.research.google.com/github/lokita282/APGP-calculator/blob/main/Scoring_profiles_for_priroty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [5]:
swipes_df = pd.read_csv('/content/drive/MyDrive/swipes.csv', low_memory=False)

In [7]:
id = 9
likes_performed = 0
likes_received = 0
dislikes_received = 0
successful_matches = 0
for i in range(len(swipes_df)): 
# print(swipes_df.loc[i, 'p1'])
# for j in range(10):
  if swipes_df.iloc[i]['p1'] == id:
    if(swipes_df.iloc[i]["first_type"] == 'LIKE'):
      likes_performed += 1
      if(swipes_df.iloc[i]["second_type"] == 'LIKE' and swipes_df.loc[i, "is_unmatch"] == False):
        successful_matches += 1


  elif(swipes_df.loc[i, 'p2'] == id):
    if(swipes_df.loc[i, "first_type"] == 'LIKE'):
      likes_received += 1
      if(swipes_df.iloc[i]["second_type"] == 'LIKE' and swipes_df.loc[i, "is_unmatch"] == False):
        successful_matches += 1
      
    else:
      dislikes_received += 1

In [9]:

print('\nStats for user ', id)
print('Likes Performed: ', likes_performed)
print('likes_received: ', likes_received)
print('dislikes received: ', dislikes_received)
print('matches Received: ', successful_matches)

Stats for user  9
Likes Performed:  62
likes_received:  2
dislikes received:  9
matches Received:  4

scoring

In [10]:
training_data_path = '/content/drive/MyDrive/users.csv'

In [12]:
training_data = pd.read_csv(training_data_path)

In [18]:
training_data.head(7)

,_id,bio,college,country,createdAt,dob,email,face_detection_probabilities,gender,height,...,is_verified,mobile,name,status,type,updatedAt,verified_at,what_to_find,who_to_date,is_subscribed
0,0,I am very honest and caring person,"[""Jawaharlal Nehru University""]",IN,2023-02-07T05:23:18.004Z,2002-07-16T00:00:00.000Z,9000000000@get.idyll,[90.7028079032898],M,175.0,...,True,9000000000,Prakhar Sharma,True,U,2023-02-22T11:57:08.616Z,2023-02-22T11:57:04.347Z,C,F,True
1,1,Let's go on a date.,"[""Heritage ""]",IN,2023-02-07T05:44:15.450Z,1999-02-26T00:00:00.000Z,9100000000@get.idyll,[],M,177.0,...,True,9100000000,Amit,True,U,2023-02-21T18:07:44.286Z,2023-02-21T18:01:34.165Z,C,F,True
2,2,Loving life,"[""Jawaharlal Nehru University""]",IN,2023-02-07T05:57:29.233Z,2001-01-08T00:00:00.000Z,9200000000@get.idyll,[88.67224454879761],F,175.0,...,True,9200000000,Ritz,True,U,2023-02-14T10:33:13.373Z,NaN,R,M,True
3,3,Jai Maharashtra\nðŸ¥²Bharat Mata ki Jay.....\nInq...,"[""Jawaharlal Nehru University""]",IN,2023-02-07T06:04:39.836Z,2000-08-20T00:00:00.000Z,9300000000@get.idyll,"[90.63367247581482,70.43942511081696,96.189951...",M,177.0,...,True,9300000000,Devesh Shukla,True,U,2023-02-26T20:28:11.956Z,NaN,R,F,True
4,4,ðŸ™„,"[""Jawaharlal Nehru University""]",IN,2023-02-07T07:05:14.605Z,2000-07-31T00:00:00.000Z,9400000000@get.idyll,NaN,M,178.0,...,False,9400000000,Aditya bhadoriya,True,U,2023-02-07T07:09:17.627Z,NaN,NS,A,NaN
5,5,NaN,[],IN,2023-02-07T07:30:25.376Z,NaN,9500000000@get.idyll,NaN,NaN,NaN,...,False,9500000000,NaN,False,U,2023-02-26T21:41:48.407Z,2023-02-21T17:40:40.141Z,NaN,NaN,NaN
6,6,"I am what I am, you get what you see..unless y...","[""Delhi College Of Engineering""]",IN,2023-02-07T07:31:28.236Z,2001-12-11T00:00:00.000Z,9600000000@get.idyll,NaN,M,175.0,...,False,9600000000,Ankit,True,U,2023-02-07T07:48:38.692Z,NaN,NS,F,True

In [30]:
training_data.isnull().values.any()

True

In [33]:

# Using DataFrame.mask() method.
df2=training_data.mask(training_data == '')
# print(df2)

In [35]:
df2.head(7)

,_id,bio,college,country,createdAt,dob,email,face_detection_probabilities,gender,height,...,is_verified,mobile,name,status,type,updatedAt,verified_at,what_to_find,who_to_date,is_subscribed
0,0,I am very honest and caring person,"[""Jawaharlal Nehru University""]",IN,2023-02-07T05:23:18.004Z,2002-07-16T00:00:00.000Z,9000000000@get.idyll,[90.7028079032898],M,175.0,...,True,9000000000,Prakhar Sharma,True,U,2023-02-22T11:57:08.616Z,2023-02-22T11:57:04.347Z,C,F,True
1,1,Let's go on a date.,"[""Heritage ""]",IN,2023-02-07T05:44:15.450Z,1999-02-26T00:00:00.000Z,9100000000@get.idyll,[],M,177.0,...,True,9100000000,Amit,True,U,2023-02-21T18:07:44.286Z,2023-02-21T18:01:34.165Z,C,F,True
2,2,Loving life,"[""Jawaharlal Nehru University""]",IN,2023-02-07T05:57:29.233Z,2001-01-08T00:00:00.000Z,9200000000@get.idyll,[88.67224454879761],F,175.0,...,True,9200000000,Ritz,True,U,2023-02-14T10:33:13.373Z,NaN,R,M,True
3,3,Jai Maharashtra\nðŸ¥²Bharat Mata ki Jay.....\nInq...,"[""Jawaharlal Nehru University""]",IN,2023-02-07T06:04:39.836Z,2000-08-20T00:00:00.000Z,9300000000@get.idyll,"[90.63367247581482,70.43942511081696,96.189951...",M,177.0,...,True,9300000000,Devesh Shukla,True,U,2023-02-26T20:28:11.956Z,NaN,R,F,True
4,4,ðŸ™„,"[""Jawaharlal Nehru University""]",IN,2023-02-07T07:05:14.605Z,2000-07-31T00:00:00.000Z,9400000000@get.idyll,NaN,M,178.0,...,False,9400000000,Aditya bhadoriya,True,U,2023-02-07T07:09:17.627Z,NaN,NS,A,NaN
5,5,NaN,[],IN,2023-02-07T07:30:25.376Z,NaN,9500000000@get.idyll,NaN,NaN,NaN,...,False,9500000000,NaN,False,U,2023-02-26T21:41:48.407Z,2023-02-21T17:40:40.141Z,NaN,NaN,NaN
6,6,"I am what I am, you get what you see..unless y...","[""Delhi College Of Engineering""]",IN,2023-02-07T07:31:28.236Z,2001-12-11T00:00:00.000Z,9600000000@get.idyll,NaN,M,175.0,...,False,9600000000,Ankit,True,U,2023-02-07T07:48:38.692Z,NaN,NS,F,True

In [87]:
import numpy as np

In [104]:
type(training_data.iloc[5]["bio"] )

float

In [96]:
training_data.iloc[5]["is_habit_drink"]

nan

In [107]:
scores = []
for i in range(1405): 
  score = 0
  # print(i,  training_data.iloc[i]["dob"])
  # if math.isnan(population) training_data.iloc[i]["dob"]: 
  #   score += 5
  # else:
  #   continue


  if type(training_data.iloc[i]["dob"]) == float and pd.isna(training_data.iloc[i]["dob"]):
    score += 0
  else:
    score += 5

  if type(training_data.iloc[i]["gender"]) == float and pd.isna(training_data.iloc[i]["gender"]):
    score += 0
  else:
    score += 5

  if type(training_data.iloc[i]["height"]) == np.float64 and pd.isna(training_data.iloc[i]["height"]):
    score += 0
  else:
    score += 2

  if training_data.iloc[i]["interests"] == '[]':
    score += 0
  else:
    score += 7

  if type(training_data.iloc[i]["is_habit_drink"]) == float and pd.isna(training_data.iloc[i]["is_habit_drink"]):
    score += 0
  else:
    score += 5

  if type(training_data.iloc[i]["is_habit_smoke"]) == float and pd.isna(training_data.iloc[i]["is_habit_smoke"]):
    score += 0
  else:
    score += 5

  if training_data.iloc[i]["is_verified"] == True:
    score += 10
  else:
    score += 0

  if type(training_data.iloc[i]["name"]) == float and pd.isna(training_data.iloc[i]["name"]):
    score += 0
  else:
    score += 2

  if type(training_data.iloc[i]["bio"]) == float and pd.isna(training_data.iloc[i]["bio"]):
    score += 0
  else:
    score += 3
  

  scores.append(score)

scores

[44,
 44,
 44,
 44,
 34,
 0,
 34,
 44,
 44,
 37,
 34,
 44,
 7,
 34,
 44,
 34,
 34,
 44,
 27,
 7,
 34,
 34,
 34,
 32,
 7,
 34,
 34,
 7,
 27,
 34,
 25,
 44,
 32,
 34,
 34,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 44,
 34,
 34,
 44,
 34,
 24,
 25,
 7,
 32,
 0,
 24,
 34,
 34,
 42,
 44,
 34,
 32,
 24,
 15,
 22,
 34,
 25,
 25,
 34,
 44,
 27,
 19,
 32,
 15,
 34,
 34,
 34,
 34,
 34,
 32,
 7,
 34,
 34,
 44,
 32,
 34,
 34,
 34,
 34,
 34,
 34,
 32,
 34,
 27,
 32,
 25,
 34,
 34,
 44,
 27,
 34,
 27,
 34,
 7,
 25,
 34,
 34,
 34,
 32,
 34,
 0,
 34,
 34,
 34,
 24,
 44,
 34,
 34,
 34,
 34,
 25,
 27,
 34,
 34,
 32,
 34,
 24,
 44,
 34,
 44,
 7,
 34,
 32,
 44,
 25,
 27,
 34,
 7,
 34,
 27,
 34,
 34,
 34,
 34,
 44,
 34,
 7,
 25,
 27,
 0,
 34,
 44,
 34,
 0,
 44,
 34,
 22,
 32,
 34,
 44,
 34,
 44,
 0,
 32,
 42,
 34,
 27,
 0,
 27,
 0,
 32,
 34,
 32,
 27,
 34,
 34,
 22,
 27,
 34,
 34,
 27,
 32,
 32,
 32,
 7,
 32,
 44,
 44,
 27,
 27,
 27,
 34,
 44,
 34,
 0,
 27,
 34,
 34,
 34,
 32,
 34,
 44,
 25,
 32,
 7,
 34,
 0,
 44,
 25,
 0,
 0,
 34,
 34,
 34,
 34,
 27,
 34,
 25,
 34,
 32,
 34,
 34,
 32,
 34,
 0,
 32,
 34,
 34,
 0,
 34,
 27,
 27,
 44,
 22,
 34,
 44,
 34,
 34,
 0,
 34,
 27,
 32,
 34,
 44,
 44,
 0,
 34,
 25,
 27,
 44,
 34,
 42,
 32,
 24,
 34,
 34,
 0,
 0,
 34,
 32,
 27,
 32,
 25,
 44,
 34,
 34,
 34,
 34,
 34,
 12,
 34,
 27,
 32,
 34,
 25,
 44,
 34,
 32,
 0,
 0,
 34,
 44,
 34,
 34,
 27,
 0,
 7,
 44,
 44,
 34,
 0,
 34,
 44,
 7,
 32,
 34,
 34,
 7,
 0,
 24,
 34,
 24,
 32,
 7,
 32,
 34,
 9,
 34,
 34,
 34,
 34,
 37,
 27,
 34,
 34,
 27,
 27,
 34,
 25,
 32,
 32,
 0,
 34,
 34,
 25,
 0,
 34,
 34,
 25,
 34,
 0,
 27,
 32,
 34,
 34,
 34,
 34,
 34,
 22,
 34,
 32,
 7,
 34,
 27,
 34,
 32,
 34,
 32,
 32,
 7,
 34,
 32,
 27,
 32,
 34,
 34,
 44,
 7,
 7,
 44,
 34,
 34,
 0,
 0,
 34,
 34,
 34,
 34,
 27,
 12,
 32,
 0,
 32,
 32,
 2,
 34,
 24,
 27,
 34,
 34,
 0,
 27,
 0,
 34,
 34,
 32,
 0,
 34,
 22,
 25,
 32,
 34,
 0,
 34,
 34,
 34,
 24,
 44,
 34,
 27,
 25,
 44,
 34,
 27,
 25,
 34,
 32,
 42,
 32,
 15,
 0,
 42,
 34,
 32,
 34,
 32,
 7,
 44,
 34,
 27,
 34,
 37,
 32,
 34,
 34,
 0,
 34,
 27,
 44,
 32,
 34,
 44,
 0,
 44,
 44,
 34,
 7,
 0,
 27,
 27,
 34,
 24,
 24,
 34,
 22,
 25,
 27,
 32,
 0,
 24,
 44,
 34,
 7,
 44,
 27,
 34,
 34,
 34,
 7,
 42,
 7,
 34,
 32,
 27,
 44,
 44,
 25,
 34,
 32,
 32,
 0,
 34,
 7,
 25,
 32,
 34,
 42,
 34,
 34,
 34,
 34,
 34,
 34,
 0,
 27,
 24,
 32,
 34,
 0,
 34,
 34,
 34,
 34,
 34,
 27,
 32,
 32,
 34,
 34,
 0,
 27,
 44,
 34,
 34,
 32,
 27,
 0,
 0,
 44,
 27,
 25,
 34,
 35,
 0,
 24,
 0,
 29,
 0,
 32,
 32,
 44,
 44,
 27,
 27,
 25,
 34,
 34,
 27,
 34,
 22,
 25,
 44,
 34,
 34,
 32,
 34,
 27,
 0,
 34,
 24,
 34,
 34,
 34,
 25,
 44,
 44,
 32,
 32,
 27,
 0,
 44,
 32,
 0,
 0,
 44,
 0,
 25,
 44,
 25,
 25,
 44,
 7,
 32,
 34,
 7,
 34,
 44,
 34,
 34,
 34,
 34,
 34,
 34,
 44,
 32,
 34,
 25,
 44,
 32,
 27,
 0,
 0,
 34,
 34,
 0,
 25,
 12,
 27,
 37,
 12,
 34,
 34,
 0,
 34,
 44,
 0,
 34,
 34,
 34,
 0,
 0,
 34,
 25,
 0,
 34,
 34,
 27,
 34,
 34,
 0,
 34,
 34,
 44,
 44,
 34,
 32,
 27,
 27,
 27,
 7,
 44,
 32,
 27,
 27,
 34,
 22,
 34,
 34,
 32,
 34,
 34,
 12,
 32,
 12,
 22,
 34,
 32,
 34,
 34,
 27,
 27,
 34,
 44,
 34,
 34,
 34,
 25,
 34,
 34,
 34,
 34,
 34,
 34,
 25,
 32,
 34,
 34,
 34,
 44,
 32,
 34,
 32,
 25,
 44,
 34,
 27,
 27,
 0,
 32,
 0,
 34,
 32,
 7,
 34,
 7,
 34,
 34,
 44,
 44,
 0,
 7,
 34,
 0,
 0,
 34,
 44,
 27,
 34,
 34,
 7,
 32,
 27,
 32,
 27,
 44,
 34,
 32,
 44,
 44,
 32,
 0,
 34,
 34,
 32,
 34,
 44,
 34,
 34,
 32,
 44,
 0,
 34,
 27,
 0,
 25,
 34,
 34,
 44,
 34,
 0,
 22,
 12,
 34,
 34,
 34,
 44,
 34,
 27,
 34,
 25,
 7,
 34,
 34,
 44,
 34,
 34,
 27,
 44,
 27,
 34,
 34,
 34,
 34,
 27,
 34,
 27,
 27,
 34,
 34,
 25,
 7,
 27,
 0,
 34,
 34,
 34,
 25,
 24,
 44,
 34,
 32,
 25,
 0,
 34,
 27,
 0,
 34,
 0,
 34,
 32,
 34,
 44,
 32,
 0,
 34,
 32,
 25,
 34,
 34,
 7,
 27,
 34,
 0,
 32,
 0,
 34,
 34,
 31,
 44,
 32,
 34,
 34,
 34,
 0,
 34,
 27,
 34,
 27,
 34,
 34,
 34,
 25,
 34,
 44,
 34,
 22,
 32,
 0,
 7,
 34,
 34,
 34,
 32,
 34,
 32,
 0,
 7,
 34,
 34,
 44,
 44,
 27,
 34,
 34,
 34,
 44,
 0,
 34,
 34,
 27,
 34,
 7,
 0,
 27,
 44,
 44,
 34,
 34,
 44,
 34,
 32,
 44,
 34,
 34,
 44,
 34,
 32,
 0,
 44,
 34,
 22,
 32,
 25,
 34,
 34,
 22,
 22,
 0,
 10,
 0,
 0,
 15,
 22,
 22,
 22,
 22,
 22,
 0,
 22,
 0,
 15,
 34,
 22,
 44,
 7,
 22,
 22,
 22,
 22,
 22,
 32,
 22,
 15,
 24,
 15,
 22,
 32,
 32,
 0,
 15,
 22,
 22,
 32,
 22,
 32,
 22,
 15,
 15,
 22,
 22,
 32,
 0,
 32,
 24,
 22,
 32,
 12,
 44,
 32,
 32,
 44,
 34,
 22,
 22,
 22,
 44,
 22,
 34,
 37,
 15,
 32,
 44,
 34,
 15,
 32,
 32,
 44,
 34,
 37,
 7,
 22,
 15,
 22,
 22,
 42,
 32,
 32,
 44,
 0,
 44,
 22,
 22,
 24,
 15,
 7,
 32,
 22,
 22,
 44,
 44,
 37,
 15,
 22,
 34,
 0,
 ...]

In [49]:
training_data.iloc[8]["dob"]

AttributeError: ignored

In [47]:
training_data.head(7)

,_id,bio,college,country,createdAt,dob,email,face_detection_probabilities,gender,height,...,is_verified,mobile,name,status,type,updatedAt,verified_at,what_to_find,who_to_date,is_subscribed
0,0,I am very honest and caring person,"[""Jawaharlal Nehru University""]",IN,2023-02-07T05:23:18.004Z,2002-07-16T00:00:00.000Z,9000000000@get.idyll,[90.7028079032898],M,175.0,...,True,9000000000,Prakhar Sharma,True,U,2023-02-22T11:57:08.616Z,2023-02-22T11:57:04.347Z,C,F,True
1,1,Let's go on a date.,"[""Heritage ""]",IN,2023-02-07T05:44:15.450Z,1999-02-26T00:00:00.000Z,9100000000@get.idyll,[],M,177.0,...,True,9100000000,Amit,True,U,2023-02-21T18:07:44.286Z,2023-02-21T18:01:34.165Z,C,F,True
2,2,Loving life,"[""Jawaharlal Nehru University""]",IN,2023-02-07T05:57:29.233Z,2001-01-08T00:00:00.000Z,9200000000@get.idyll,[88.67224454879761],F,175.0,...,True,9200000000,Ritz,True,U,2023-02-14T10:33:13.373Z,NaN,R,M,True
3,3,Jai Maharashtra\nðŸ¥²Bharat Mata ki Jay.....\nInq...,"[""Jawaharlal Nehru University""]",IN,2023-02-07T06:04:39.836Z,2000-08-20T00:00:00.000Z,9300000000@get.idyll,"[90.63367247581482,70.43942511081696,96.189951...",M,177.0,...,True,9300000000,Devesh Shukla,True,U,2023-02-26T20:28:11.956Z,NaN,R,F,True
4,4,ðŸ™„,"[""Jawaharlal Nehru University""]",IN,2023-02-07T07:05:14.605Z,2000-07-31T00:00:00.000Z,9400000000@get.idyll,NaN,M,178.0,...,False,9400000000,Aditya bhadoriya,True,U,2023-02-07T07:09:17.627Z,NaN,NS,A,NaN
5,5,NaN,[],IN,2023-02-07T07:30:25.376Z,NaN,9500000000@get.idyll,NaN,NaN,NaN,...,False,9500000000,NaN,False,U,2023-02-26T21:41:48.407Z,2023-02-21T17:40:40.141Z,NaN,NaN,NaN
6,6,"I am what I am, you get what you see..unless y...","[""Delhi College Of Engineering""]",IN,2023-02-07T07:31:28.236Z,2001-12-11T00:00:00.000Z,9600000000@get.idyll,NaN,M,175.0,...,False,9600000000,Ankit,True,U,2023-02-07T07:48:38.692Z,NaN,NS,F,True